.catalog-card {
    margin: 5%;
    background-color: rgba(237, 237, 237, 1);
}

.catalog-card .card-title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;    
    color: #000;
}

.catalog-card .card-text {
    text-align: center;
    font-size: 14px;    
    font-style: italic;
    color: rgba(88, 88, 88, 1);
}

.catalog-card .card-body > button {
    width: 100%;
}

